<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Découvrez ci-dessous ma timeline.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ asset('agency/img/about/supdepub.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2007-2011</h4>
                                <h4 class="subheading">Formation : MASTER 1 Webmarketing</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">SUP DE PUB – PARIS</p>
                                <p class="text-muted">Compression du marketing digital grâce aux nombreux stages en agences / annonceurs et aux cours suivis</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ asset('agency/img/about/koala.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012</h4>
                                <h4 class="subheading">Année de césure</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">1 an en Australie : G'Day mate ! Pour savoir enfin parler anglais et voir des Koalas</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ asset('agency/img/about/chefdeprojet.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013 - 2016</h4>
                                <h4 class="subheading">Chef de projet digital</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Chez BNP Paribas et entrepreunariat (Gautrey Paris). J'ai mis en pratique tout ce que je savais</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ asset('agency/img/about/3wacademy.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Hiver 2016</h4>
                                <h4 class="subheading">Formation intégrateur / développeur / Symfony 2</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">3WAcademy – PARIS</p>
                                <p class="text-muted">Parcequ'un chef de projet digital sans connaissance technique, c'est comme le sel sans le poivre</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>And now
                                <br>a part of
                                <br>your story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>