<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Hey you !</div>
            <div class="intro-heading">Scroll down</div>
            <a href="#services" class="page-scroll btn btn-xl">NOW !</a>
        </div>
    </div>
</header>