<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hier chef de projet, <br>aujourd'hui développeur.</h2>
                <h3 class="section-subheading text-muted">Une envie ? Y a plus qu'à.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">La base</h4>
                <h5 class="service-heading">Formations</h5>
                <p class="text-muted">Master en Webmarketing à <a href="https://www.supdepub.com/programme-bachelor-m1/master-marketing-produit.cfm" target="_blank">Sup de Pub Paris</a> et formé à la <a href="https://3wa.fr/">3W Academy</a>.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">L'essentiel</h4>
                <h5 class="service-heading">Expériences</h5>
                <p class="text-muted">4 ans d'expérience en gestion de projet, et développeur chez Extia depuis Mars 2017.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star-o fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Le plus</h4>
                <h5 class="service-heading">Compétences</h5>
                <p class="text-muted">Marketing, graphisme et développement en PHP et Symfony 3.</p>
            </div>
        </div>
    </div>
</section>