<!DOCTYPE html>
<html>
<head>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<h1>Alexis, vous avez une demande provenant de votre Portfolio</h1>

<ul>
    <li>Nom : {{ data.name }}</li>
    <li>Email : {{ data.email }}</li>
    <li>Téléphone : {{ data.phone }}</li>
</ul>

<p>Message :</p>
<p>{{ data.message }}</p>

</body>
</html>